.projects {
  background-color: $color-light-secondary;
}

.projects__wrapper {
  padding: 60px 0;
  @include media-content {
    padding: 50px 0;
  }
}

.projects__title {
  @include font($font-family: Poppins, $font-weight: 700, $font-size: 3rem);
  @include media-pre-mobile {
    text-align: center;
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 60px;
}
