$content-width: 1024px;
$pre-tablet-width: 900px;
$tablet-width: 768px;
$post-tablet-width: 700px;
$pre-mobile-width: 600px;

$color-light: white;
$color-light-secondary: #f4f4f4;
$color-dark: #797c82;
$color-hover: #292b33;
$color-download: rgb(70, 70, 247);