.wrapper {
  max-width: $content-width;
  margin: 0 auto;
  @include media-content {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-pre-mobile {
    padding-left: 10px;
    padding-right: 10px;
  }
}