.footer {
  background-color: $color-dark;
}

.footer__wrapper {
  padding: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  @include media-pre-tablet {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.footer__socials {
  grid-column-start: 2;
  @include media-pre-tablet {
    
  }
}

.footer__copyright {
  text-align: right;
  color: $color-light;
  @include font($font-family: Poppins, $font-weight: 400, $font-size: 1.5rem);
  @include media-pre-mobile {
    font-size: 1.4rem;
  }
}