.carousel-item__inner {
  text-align: center;
  width: 80%;
  margin: auto;
}

.carousel-item__img {
  width: 100%;
  height: 300px;
  border-radius: 25px;
  border: 1px solid $color-dark;
  @include media-tablet {
    height: 250px;
  }
  @include media-pre-mobile {
    height: 160px;
  }
}

.carousel-item__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  opacity: 0;
  visibility: hidden;
  @extend %transition;
  color: $color-light;
  align-items: center;
  justify-content: center;
  @include font($font-family: Mulish, $font-weight: 400, $font-size: 4rem);
  border-radius: 25px;
  background-color: rgba($color: #000000, $alpha: 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include media-tablet {
    font-size: 3rem;
  }
  @include media-pre-mobile {
    font-size: 2.2rem;
  }
}

.carousel-item__wrapper {
  width: 70%;
  margin: auto;
  position: relative;
  &:hover {
    .carousel-item__info {
      opacity: 1;
      visibility: visible;
    }
  }
  @include media-pre-mobile {
    width: 90%;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 35px;
}

.carousel-control-prev,
.carousel-control-next {
  @include media-pre-mobile {
    width: 10%;
  }
}

.carousel-item__title {
  grid-column: 1/3;
}
