.nav {
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  @include font($font-family: Poppins, $font-weight: 700, $font-size: 2rem);
}

.nav__link {
  text-decoration: none;
  position: relative;
  color: $color-dark;
  @extend %transition;
  &::after {
    @extend %transition;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    background-color: currentColor;
    height: 3px;
  }
  @include media-hover {
    color: $color-hover-nav;
    &::after {
      width: 100%;
    }
  }
}
